{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="color-top">
        <div class="container">
            <h1>Testez notre algorithme de l’échiquier :<br/>
            <small>Commencez par définir le nom des équipes et leur position dans le classement.</small></h1>
        </div>
    </div>
    <div class="container">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom de l’équipe</th>
                <th scope="col">Position dans le classement</th>
            </tr>
            </thead>
            <tbody>
            {% for team in form.teams %}
            <tr class="teams">
                <td scope="row">{{ form_row(team.name, {'label':false}) }}</td>
                <td>{{ form_row(team.rank, {'label':false}) }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row appendme">
            <div class="col-md-6"><input type="submit" class="btn btn-primary" style="width:100%" /></div>
        </div>
    {{ form_end(form) }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var nbr = {{ form.teams | length }};
        function addTeamsForm($collectionHolder) {
            // get the new index
            var index = $collectionHolder.data('index');

            nbr++;
            var newForm = "<td class=\"animated bounceInLeft\"><input type=\"text\" id=\"teams_teams___name___name\" name=\"teams[teams][__name__][name]\" value=\"Équipe "+nbr+"\" required=\"required\" maxlength=\"255\" class=\"form-control\" /></td>" +
                "<td class=\"animated bounceInLeft\"><input type=\"number\" id=\"teams_teams___name___rank\" name=\"teams[teams][__name__][rank]\" value=\""+nbr+"\" required=\"required\" class=\"form-control\" /></td>";


            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<tr></tr>').append(newForm);
            $('tbody').append($newFormLi);
        }


        var $collectionHolder;

        // setup an "add a tag" link
        var $addTeamsButton = $('<div class="col-md-6"><button type="button" style="width:100%" class="add_teams_link btn btn-secondary">Ajouter une équipe</button></div>');
        //var $newLinkLi = $('<td></td>');
        $('.appendme').append($addTeamsButton);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of teams
            $collectionHolder = $('tr.teams');

            // add the "add a tag" anchor and li to the teams ul
            //$collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTeamsButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addTeamsForm($collectionHolder);
            });
        });

    </script>

{% endblock %}