{% extends 'base.html.twig' %}

{% block body %}
    <div class="color-top">
        <div class="container">
            <h1>Votre match a commencé.<br/>
                <small>Vous pouvez nous envoyer un mail s’il y a un soucis. 🤭</small></h1>

            <hr>
            <div class="row">
                {% for turn in tournament.turns %}
                <div class="col-md-2">
                    <h3>Tour n°{{ loop.index }}</h3>
                    {% for match in turn.matches %}
                        <table style="margin-bottom: 1em">
                            <tr><td>vs</td><td>#{{ match.rankHome }} {{ match.teamHome.name }} <br/>#{{ match.rankAway }} {{ match.teamAway.name }}<td></tr>
                        </table>
                            {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        {% if tournament.turns | length + 3 < tournament.teams | length %}
            <h1 style="padding-top:20px;padding-bottom: 20px;">Définition du nouveau ranking pour le tour suivant :</h1>
        {{ form_start(form) }}

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom de l’équipe</th>
                <th scope="col">Nouvelle position dans le classement</th>
            </tr>
            </thead>
            <tbody>
            {% for team in form.teams %}
                <tr class="teams">
                    {{ form_row(team.id) }}
                    <td scope="row">{{ form_row(team.name, {'label':false}) }}</td>
                    <td>{{ form_row(team.rank, {'label':false}) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" style="width:100%" />
        {{ form_end(form) }}
        {% else %}
            <h1 style="padding-top:20px;">Le tournois est fini ! 🏆<br/><small>Il ne peut pas y avoir plus de {{ tournament.teams | length - 3 }} tours pour {{ tournament.teams | length }} équipes.</small></h1>
        {% endif %}
    </div>
{% endblock %}